

body {
	margin: 0;
	padding: 0;
	background: #303030;
	
}

#container {
		font-family: arial, sans-serif;
		margin: 1em auto;
		width: 850px;
		height: 600px;
		background-color: #606060;
		color: #ffffff;
		
}



#header { 
	text-align: center; 

}


#topnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	background: #606060;
	
}

#topnav ul li {
	display: inline;

}

#topnav ul li {
	text-decoration: none;
	padding: .2em .5em;
	color: #fff;
	background-color: #606060;
}

#topnav a {
	color: #ffffff;
	text-decoration: none;
	background-color: #606060;
}

#topnav ul li a:hover {
	color: #fff;
	background-color: #606060;

}

#content {
		float: left;
		width: 500px;
		background: #303030;
		margin: 1em 5em;
		height: 450px;

}

#contentright {
	float: right;
	background: #303030;
	padding: .05em;
	width: 150px;
	margin: 1em 1em;
	height: 450px;
	
}



#footer {
	clear:both;
	text-align: center;

}

#footer a {
	text-decoration: none;
	color: #ffffff;
}

