


#topnav ul {
	list-style-type: none;
	margin-left: 300px;
	padding: 0;
	text-align: left;
	/*background: #606060;*/
}

#topnav ul li {
	display: inline;
	

}

#topnav ul li {
	text-decoration: none;
	padding: 0 .5em;
	color: #fff;
	/*background-color: #606060;*/
	/*background-color: #747E80; 2nd most recent*/ 
	/*background-color: #F2583E;*/
	border-bottom: 2px solid #999;

}

#topnav a {
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	/*background-color: #222;*/
	/*background-color: #747E80; 2nd most recent*/
	/*background-color: #006295;*/
	margin: 0;
	padding: .5px 8px;
	/*border-left: 4px solid #999;*/
	
}

#topnav ul li a:hover {
	color: #000000;
	background-color: #3BB9FF;

}

#centerpiece {
	float: center;
	margin-top: 25px;
	margin-left: 250px;
	
}

#calender {
	margin-left: 200px;
	margin-top: 30px;
	
}

#content.p {
	font: arial, times;
	margin-left: 250px;
}

