


#topnav ul {
	list-style-type: none;
	margin-left: 300px;
	padding: 0;
	text-align: left;
}

#topnav ul li {
	display: inline;
	

}

#topnav ul li {
	text-decoration: none;
	padding: 0 .5em;
	color: #fff;
	border-bottom: 2px solid #999;

}

#topnav a {
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	margin: 0;
	padding: .5px 8px;
	
}

#topnav ul li a:hover {
	color: #000000;
	background-color: #3BB9FF;

}

#centerpiece {
	float: center;
	margin-top: 25px;
	margin-left: 250px;
	
}

#calender {
	margin-left: 200px;
	margin-top: 30px;
}

h1 {
	font: arial, times;
	margin-left: 200px;
	margin-top: 50px;

}

h2, h3 {
	font: arial, times;
	margin-left: 200px;
	margin-top: 25px;
	font-size: 18px;
}


#content p {
	font: arial, times;
	margin-left: 200px;
	margin-top: 50px;
}

