

body {
	margin: 0;
	padding: 0;
	border: 1px solid #D5E1DD;
	
}

#container {
		font-family: arial, sans-serif;
		font-size: 14px;
		margin: auto;
		width: 850px;
		height: 800px;
		border: 1px solid #747E80;
		
}

#banner {
	border: 1px solid #999;
	margin-left: 10px;
	margin-top: 15px;
	padding-left: 220px;
	background: #e77817;
}



#header { 
	text-align: left; 

}

h1 {
	background-color: #F7F3E8;
	margin: 10px 27px;
}


#topnav ul {
	list-style-type: none;
	/*margin-top: 100px;*/
	margin-left: 225px;
	/*float: center;*/
	padding: 0;
	text-align: left;
	border: 1px solid #999;
}

#topnav ul li {
	display: inline;
	

}

#topnav ul li {
	text-decoration: none;
	padding: 0 .5em;
	color: #fff;
	border-bottom: 2px solid #999;

}

#topnav a {
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	margin: 0;
	padding: .5px 8px;
	/*border-left: 4px solid #999;*/
	
}

#topnav ul li a:hover {
	color: #000000;
	background-color: #3BB9FF;

}

#content {
		float: left;
		width: 550px;
		background: #F7F3E8;
	    margin: 0 0 0 2em;
		height: 700px;
		padding-left: 10px;
		border: 1px solid #000000;

}

h1, h2, h3, h4 {
	color: #3BB9FF;
}



#contentright {
	float: right;
	background: #F7F3E8;
	padding: .05em;
	width: 150px;
	margin: 0 3em 0 0;
	height: 475px;
	padding-left: 10px;
	border: 1px solid #000000;
	
}

#contentright p {
	margin: 5px 0;
	
}



#footer {
	clear:both;
	text-align: center;
	border: 1px solid #000000;

}

#footer a {
	text-decoration: none;
	color: #ffffff;
}

