

body {
	margin: 0;
	padding: 0;
	background: #D5E1DD;
	
}

#container {
		font-family: arial, sans-serif;
		font-size: 14px;
		margin: auto;
		width: 850px;
		height: 600px;
		/*background-color: #606060;*/
		background-color: #747E80;
		
}



#header { 
	text-align: center; 

}


#topnav ul {
	list-style-type: none;
	margin-left: 63px;
	padding: 0;
	text-align: left;
	/*background: #606060;*/
}

#topnav ul li {
	display: inline;
	

}

#topnav ul li {
	text-decoration: none;
	padding: 0 .5em;
	color: #fff;
	/*background-color: #606060;*/
	background-color: #747E80;

}

#topnav a {
	color: #ffffff;
	text-decoration: none;
	font-size: 13px;
	/*background-color: #222;*/
	background-color: #747E80;
	margin: 5px 0;
	padding-left: 15px;
	border-left: 1px solid #999;
}

/*#topnav ul li a:hover {
	color: #fff;
	background-color: #606060;

}*/

#content {
		float: left;
		width: 500px;
		/*background: #303030;*/
		background: #F7F3E8;
	    margin: 0 0 0 5em;
		height: 475px;
		padding-left: 10px;

}

h1, h2, h3, h4 {
	color: #77BED2;
}



#contentright {
	float: right;
	/*background: #303030;*/
	background: #F7F3E8;
	padding: .05em;
	width: 150px;
	margin: 0 3em 0 0;
	height: 475px;
	padding-left: 10px;
	
}

#contentright p {
	margin: 5px 0;
	
}



#footer {
	clear:both;
	text-align: center;

}

#footer a {
	text-decoration: none;
	color: #ffffff;
}

